@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;800&display=swap');

h1 {
  font-weight: bold!important;
}

.App {
  font-family: 'Raleway', sans-serif;
  background-color: rgb(231, 232, 241);
  padding-top: 7%;
}

.student-image {
  border: 1px solid grey;
  border-radius: 100px;
  background-color: white;
}

.student-card {
  border: 1px solid grey;
  background-color: white;
  width: 75vw;
}
